[Unit]
Description=Virtual Redfish BMC service

[Service]
ExecStart=/opt/kayobe/venvs/sushy/bin/sushy-emulator -i 192.168.33.3 -p 34343 --config /etc/sushy/sushy.conf

[Install]
WantedBy=multi-user.target default.target
