[Unit]
Description=Virtual Redfish BMC service

[Service]
ExecStart=/opt/kayobe/venvs/sushy/bin/sushy-emulator -i {{ ironic_redfish_ip }} -p {{ ironic_redfish_port }} --config /etc/sushy/sushy.conf --debug

[Install]
WantedBy=multi-user.target default.target
