<pool type='dir'>
  <name>default</name>
  <uuid>{{ 'default' | to_uuid }}</uuid>
  <capacity unit='bytes'>68509761536</capacity>
  <allocation unit='bytes'>18906595328</allocation>
  <available unit='bytes'>49603166208</available>
  <source>
  </source>
  <target>
    <path>/var/lib/libvirt/images</path>
    <permissions>
      <mode>0711</mode>
      <owner>0</owner>
      <group>0</group>
      <label>system_u:object_r:virt_image_t:s0</label>
    </permissions>
  </target>
</pool>
