# mailmap - organise past authors and identities

Hollie Hutchinson <hollie@stackhpc.com> Jake Hutchinson <jake@stackhpc.com>
Hollie Hutchinson <hollie@stackhpc.com> Jake Hutchinson <39007539+assumptionsandg@users.noreply.github.com>
Hollie Hutchinson <hollie@stackhpc.com> Jake Hutchinson <jake@assumptions.network>
