extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    require-starting-space: false
  truthy: disable
  line-length: disable

ignore: |
  .automation
  etc/kayobe/ansible/roles/
  # We can't lint jinja
  etc/kayobe/kolla/config/prometheus/prometheus.yml.d
  etc/kayobe/kolla/globals.yml
  etc/kayobe/kolla/config/prometheus/prometheus-alertmanager.yml
  etc/kayobe/environments/aio/kolla/globals.yml
  # We can't lint vault encrypted files
  etc/kayobe/environments/aio/kolla/passwords.yml

