kayobe@git+https://github.com/stackhpc/kayobe@stackhpc/yoga
ansible-modules-hashivault@git+https://github.com/stackhpc/ansible-modules-hashivault@stackhpc;python_version < "3.8"
ansible-modules-hashivault;python_version >= "3.8"
