kayobe@git+https://github.com/stackhpc/kayobe@rug/wallaby
# 4.6.4 requires Ansible 4.0.0
ansible-modules-hashivault<4.6.4
omsdk==1.2.481
# With urllib3>=2 we see the following error when importing or exporting server profiles:
# Dell EMC OMSDK library is required for this module
urllib3<2
