clouds:
  openstack:
    auth:
      auth_url: "{{ stackhpc_os_capacity_auth_url }}"
      application_credential_id: "{{ secrets_os_capacity_credential_id }}"
      application_credential_secret: "{{ secrets_os_capacity_credential_secret }}"
    region_name: "{{ stackhpc_os_capacity_openstack_region_name }}"
    interface: "internal"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
{% if not stackhpc_os_capacity_openstack_verify | bool %}
    cacert: /etc/openstack/haproxy-internal.pem
{% endif %}
