---
{% set wazuh_admin_pass = secrets_wazuh.wazuh_admin_pass | default(lookup('password', '/dev/null'), true) -%}
{%- set wazuh_user_pass = secrets_wazuh.wazuh_user_pass | default(lookup('password', '/dev/null'), true) -%}

# Secrets used by Wazuh managers and agents
# Store these securely and use lookups here
secrets_wazuh:
  # Wazuh agent authd pass
  authd_pass: "{{ secrets_wazuh.authd_pass | default(lookup('password', '/dev/null'), true) }}"
  # Strengthen default wazuh api user pass
  wazuh_api_users:
    - username: "wazuh"
      password: "{{ secrets_wazuh.wazuh_api_users[0].password | default(lookup('password', '/dev/null length=30' ), true) }}"
  # Elasticsearch 'admin' user pass
  opendistro_admin_password: "{{ secrets_wazuh.opendistro_admin_password | default(lookup('password', '/dev/null'), true) }}"
  # Elasticsearch 'kibanaserver' user pass
  opendistro_kibana_password: "{{ secrets_wazuh.opendistro_kibana_password | default(lookup('password', '/dev/null'), true) }}"
  # Wazuh/Kibana 'wazuh_admin' custom user pass
  wazuh_admin_pass: "{{ wazuh_admin_pass }}"
  # Wazuh/Kibana 'wazuh_admin' custom user pass has
  # bcrypt ($2y) hash
  wazuh_admin_hash: "{{ secrets_wazuh.wazuh_admin_hash | default(wazuh_admin_pass | password_hash('bcrypt'), true) }}"
  # Wazuh/Kibana 'wazuh_user' custom user pass
  # bcrypt ($2y) hash
  wazuh_user_pass: "{{ wazuh_user_pass }}"
  wazuh_user_hash: "{{ secrets_wazuh.wazuh_user_hash | default(wazuh_user_pass | password_hash('bcrypt'), true) }}"
