---
global:
  resolve_timeout: 5m
  smtp_require_tls: true

route:
  receiver: 'msteamsv2-notifications'
  group_by: [alertname]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

  routes:
    - matchers:
        - severity=~"critical|alert"
      receiver: 'msteamsv2-critical-notifications'

receivers:
  - name: 'msteamsv2-notifications'
    msteamsv2_configs:
    - webhook_url: '{{ secrets_msteams_notification_channel_url | ansible.builtin.mandatory(msg="secrets_msteams_notification_channel_url is undefined. Please add this variable to secrets.yml when using the Microsoft Teams Alertmanager integration.") }}'
      send_resolved: true
  - name: 'msteamsv2-critical-notifications'
    msteamsv2_configs:
    - webhook_url: '{{ secrets_msteams_notification_critical_channel_url | ansible.builtin.mandatory(msg="secrets_msteams_notification_critical_channel_url is undefined. Please add this variable to secrets.yml when using the Microsoft Teams Alertmanager integration.") }}'
      send_resolved: true

templates:
  - '/etc/prometheus/*.tmpl'
