---

- name: Security hardening
  hosts: overcloud
  become: true
  tasks:
    - name: Ensure the cron package is installed on ubuntu
      package:
        name: cron
        state: present
      when: ansible_facts.distribution == 'Ubuntu'

    - name: Ensure service accounts have no expiry options set
      # This is to workaround an issue where we set the expiry to 365 days on kayobe
      # service accounts in a previous iteration of the CIS benchmark hardening
      # defaults. This should restore the defaults and can eventually be removed.
      command: chage -m 0 -M 99999 -W 7 -I -1 {{ item }}
      become: true
      changed_when: false
      with_items:
        - "{{ kayobe_ansible_user }}"
        - "{{ kolla_ansible_user }}"

    - include_role:
        name: ansible-lockdown.rhel9_cis
      when: ansible_facts.os_family == 'RedHat' and ansible_facts.distribution_major_version == '9'

    - include_role:
        name: ansible-lockdown.ubuntu22_cis
      when: ansible_facts.distribution == 'Ubuntu' and ansible_facts.distribution_major_version == '22'
