---
# NOTE: Kayobe provides support for managing swap devices and files since the
# Zed release. This playbook is retained for backwards compatibility but will
# be removed in a future release.

# Custom playbook to configure a swap device. This may be used as a
# post-overcloud host configure hook.
#
# Variables:
# * swap_group: Host pattern against which to target the playbook. Default is
#               'overcloud'.
# * swap_device: Name of the swap device to configure. Default is
#                '/dev/rootvg/lv_swap'. To use a different value, set an extra
#                var (e.g. in $KAYOBE_CONFIG_PATH/swap.yml) because play vars
#                take precedence over any inventory variable.

- name: Configure swap
  hosts: "{{ swap_group | default('overcloud') }}"
  tags:
    - swap
  vars:
    swap_device: "/dev/rootvg/lv_swap"
  become: true
  tasks:
    - name: Ensure swap filesystem is present
      filesystem:
        fstype: "swap"
        dev: "{{ swap_device }}"

    - name: Ensure swap device present in fstab
      mount:
        name: "none"
        src: "{{ swap_device }}"
        fstype: "swap"
        state: "present"

    # It does no harm to run this when swap is already active
    - name: Enable swap devices
      command: "/sbin/swapon -a"
      when:
        - ansible_facts.swaptotal_mb == 0
