[defaults]
forks = 20
# Use the YAML stdout callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Disable fact variable injection to improve performance.
inject_facts_as_vars = False
# Add timing information to output
callbacks_enabled = ansible.posix.profile_tasks,openstack.kolla.stats
# Silence warning about invalid characters found in group names
force_valid_group_names = ignore

log_path = /home/cloud-user/kayobe.log

[ssh_connection]
pipelining = True
