[defaults]
forks = 20
# Use YAML stdout callback output.
callback_result_format = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Disable fact variable injection to improve performance.
inject_facts_as_vars = False
# Add timing information to output
callbacks_enabled = ansible.posix.profile_tasks
# Silence warning about invalid characters found in group names
force_valid_group_names = ignore
# Default value plus custom filter plugins path
filter_plugins = $ANSIBLE_HOME/plugins/filter:/usr/share/ansible/plugins/filter:$KAYOBE_CONFIG_PATH/ansible/filter_plugins/

[inventory]
# Fail when any inventory source cannot be parsed.
any_unparsed_is_failed = True

[ssh_connection]
pipelining = True
ssh_extra_args = -o ControlPersist=1h
retries = 3
