# TODO(priteau): Remove myst-parser dependency and bump Sphinx once
# compatibility is resolved
myst-parser>=4.0.0,<5 # MIT
reno>=3.4.0 # Apache-2.0
sphinx-copybutton # MIT
sphinx-substitution-extensions # MIT
sphinx>=4.2.0,<9 # BSD
sphinxcontrib-svg2pdfconverter>=0.1.0 # BSD
sphinx-immaterial # MIT
