---

# Example secrets

# Login to IPA images
secrets_ipa_dev_user_password: password

# BMC password
secrets_ipmi_password: password

# Slack URL for alerts
secrets_slack_notification_channel_url: http://example.org/slack

# Private docker registry credentials
secrets_kolla_docker_registry_username: username
secrets_kolla_docker_registry_password: password

# libvirt SASL password. Default is unset.
secrets_libvirt_sasl_password:
