---
# Secrets used by Wazuh managers and agents
# Store these securely and use lookups here
secrets_wazuh:
  # Wazuh agent authd pass
  authd_pass: "{{ secrets_wazuh.authd_pass | default(lookup('password', '/dev/null'), true) }}"
  # Strengthen default wazuh api user pass
  wazuh_api_users:
    - username: "wazuh"
      password: "{{ secrets_wazuh.wazuh_api_users[0].password | default(lookup('password', '/dev/null length=30' ), true) }}"
  # OpenSearch 'admin' user pass
  opendistro_admin_password: "{{ secrets_wazuh.opendistro_admin_password | default(lookup('password', '/dev/null'), true) }}"
  # OpenSearch 'kibanaserver' user pass
  opendistro_kibana_password: "{{ secrets_wazuh.opendistro_kibana_password | default(lookup('password', '/dev/null'), true) }}"
